{% extends "base.html" %}
{% block content %}

<h2 class="text-white mb-4">Contact & Project Details</h2>

<div class="card p-4 shadow text-white">
    <p><strong>Developer:</strong>Selva Bharathi M</p>
    <p><strong>Email:</strong> selvabharathi3065@gmail.com</p>
    <p><strong>Project:</strong> DevOps Capstone Project</p>

    <hr>

    <h5> Technologies Used</h5>
    <ul>
        <li>Python (Flask)</li>
        <li>Docker</li>
        <li>Jenkins</li>
        <li>AWS EC2</li>
        <li>Prometheus</li>
        <li>Grafana</li>
    </ul>

    <p>This project demonstrates automation, scalability, and monitoring in a cloud-native environment.</p>
</div>

{% endblock %}
